<form class="form-inline mt-4" method="GET" action="{{{clearingaction}}}">
    <input type="hidden" name="userid" value="{{userid}}">
    <input class="btn btn-primary" type="submit" value="{{#str}} remove_files, local_log_sender {{/str}}">
</form>