<div class="mt-5">
    <h4>{{#str}} reports_list, local_log_sender {{/str}} :</h4>
    <ul class="list-group list-group-flush mt-3">
        {{#reportfiles}}
            <li class="list-group-item">
                <a href="{{{url}}}">
                    <i class="fa fa-download pr-2"></i>
                    {{{filename}}}
                </a>
            </li>
        {{/reportfiles}}
        {{^reportfiles}}
            {{#str}} none, core {{/str}}
        {{/reportfiles}}
    </ul>

    {{#has_reportfiles}}
        {{> local_log_sender/clearing_form }}
    {{/has_reportfiles}}
</div>